# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Backend e variaveis locais (contem nome de bucket/segredos por conta)
backend.hcl
*.auto.tfvars
terraform.tfvars

# Kubeconfig gerado localmente
kubeconfig
kubeconfig.*

# Credenciais AWS exportadas do Learner Lab
.aws-credentials
*.pem

# IDEs e sistema
.idea/
.vscode/
.DS_Store
*.log
